<div class="bg-light p-4 rounded my-2 shadow">
    <h2>Catégories</h2>
    <ul class="list-unstyled">
        <li><a href="#">PHP</a></li>
        <li><a href="#">Symfony</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>